.avatar-item {
    list-style: none;
    text-align: center;
    box-shadow: 5px 5px 5px lightgray;
    margin: 0 10px 10px 0;
    width: 450px;
}

.avatar-item img {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: auto;
}

a {
    margin: 10px 0 0 0;
}

a:link, a:visited {
    background-color: rgb(206, 240, 191);
    color: black;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    transition: .3s;
  }
  
  a:hover, a:active {
    background-color: white;
    transition: .3s;
}